*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: grey;
     padding:1vh;  

}
.heading-left img{
     height: 17vh;
    width: 10vw; 
}
.heading {
    display: flex;
}
.heading-center{
    margin-top: 4rem;
    margin-left: 2rem;
}
.heading-center input{
    height: 3vh; 
    width: 25vw;
    border-radius:6px;
}

.heading-center2{
     margin-top: 4rem;
    margin-left: 2rem;
}
.heading-center2 input{
    height: 3vh;
    width: 4vw;
    border-radius: 5px;
}
.top
{
    flex-direction: row;
}
.icon{
    margin-top: 4rem;
}
.heart{
    font-size: 1.5rem;
    margin-left: 55rem;
    color: #333537;
}
.user{
     font-size: 1.5rem;
      color: #333537;
}
.bag{
    font-size: 1.5rem;
      color: #333537;
}

.btn{
    height: 6vh;
    width: 9vw;
    background-color: rgb(132, 206, 132);
    border-radius: 1vh ;
    margin-left: 1.5rem;
}
#hero{
    background-image: url(./asset/img.png) ;
    height:70vh;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    margin: 6 rem , 5rem; 
    border-radius: 3rem;
}
.sub-main{
    padding: 10rem;
    margin-left: 9rem ;
}

.yellow-btn{
    margin-bottom: 2rem;
    height: 3vh;
    width: 15vw;
    background-color: lightgoldenrodyellow;
    border-radius: 1vh;
    border-color: white;
    font-weight: bold;
    
}
.sub-main h1{
    font-size:2.5rem;
    font-weight: bold;
}
.sub-main p{
    margin-top: 2rem;
    font-size: 2vh;
    color: grey;
}
.green-btn{
     margin-top: 3rem;
    height:5vh ;
    width: 10vw;
    border-radius:1vh;
    background-color: rgb(2, 41, 44);
    color: white;
    font-size: 2vh;

}
.product-head{
    padding: 1.5rem;
    font-size: 2rem;
}
.left{
    font-size: 2rem;
    margin-left: 95rem;
}
.right{
    font-size: 2rem;
}
.product-list{
    display: flex;
    flex-direction: row;
}
.list{

    margin-left: 2rem;
    height: 34vh;
    width: 15vw;
    border: 1px solid rgb(187, 181, 181);
    border-radius: 1vh;
}
.one{
    padding: 2rem;
   margin-left: 3rem;
    height: 30vh;
    width: 9vw  ;
}
.sub{
 text-align: center;
 font-size: 1.5rem;
 color: grey;

}
#sidebanner{
    display: flex;
}
.side-details{
  background-image: url(./asset/sideimg1.jpg);  
  height: 30vh;
  width: 35vw;
  background-size: cover;
  margin-top: 5rem;
    margin-left: 13rem; 
    border-radius: 1vh;
}
.side-img{
   
}
.details{
    color: white;
    font-size: 3rem;
    padding: 2rem 1.5rem;
}
.side-details-info p{
    color:white;
    font-size: 2rem;
    margin-left: 2rem; 
}
.green-btn2{
      margin-top: 2rem;
      margin-left:2rem ; 
    height:5vh ;
    width: 10vw;
    border-radius:1vh;
    background-color: rgb(2, 41, 44);
    color: white;
    font-size: 2vh;
}
.side-details2{
    background-image: url(./asset/sideimg2.jpg);  
  height: 30vh;
  width: 35vw;
  background-size: cover;
  margin-top: 5rem;
    margin-left: 13rem; 
    border-radius: 1vh;
}
.popular-product{
    display: flex;
    justify-content: space-between;
}
.list2{
     margin-left: 2rem;
    height: 32vh;
    width: 17vw;
    border: 1px solid rgb(207, 198, 198);
    border-radius: 1vh;
}
.btns{
    display: flex;
    flex-direction: column;
}
.red{

     background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
    height: 2vh;
    width: 2vw;
   margin-left: 1.5rem;
    float: left;
}
.green{
    background-color: green;
    color: white;
    border-radius: 3px;
    border: none;
    width: 2vw;
    margin-top: 1vh;
    margin-left: 1.5rem;
    float: left;
}
.big{
    background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
    height: 30px;
    width: 6vw;
    margin-top: 1rem;
   margin-left: 1.5rem;
    float: left; 
}
.list3{
     margin-left: 2rem;
    height: 32vh;
    width: 17vw;
    border: 1px solid rgb(103, 168, 103);
    border-radius: 1vh;
}
.popular-product-heading{
     padding: 2rem;
    font-size: 2rem;
}
.two{
    height: 12vh;
    width: 7vw;
    margin-top: rem;
    margin-left: 5rem;
}
.small-btn{
     background-color: rgb(103, 168, 103);
    font-size: 20px;
    border: none;
    text-align: center;
    border-radius: 5px;
    color:white;
    margin-left: 10rem;
}
.two2{
    height: 11vh;
    width: 6vw;
    margin-top: rem;
    margin-left: 5rem
}
.info{
    margin-top: 1vh;
    margin-left: 2vh;
}
.list4{
        margin-left: 2rem;
    height: 35vh;
    width: 25vw;
    border: 1px solid white;
    border-radius: 1vh;
}
.produts-reviews{
    display: flex;
}
.clock{
    font-size: 4rem;
    color: green;
    margin-top: 5rem;
    margin-left: 4rem;
}
.write{
    font-size:2rem ;
     margin-top: 2rem;
     margin-left: 4rem;
}
.list4 p{
 margin-top: 2rem;
     margin-left: 4rem;

}
footer{
    background-color: rgb(224, 219, 213);
    height: 35rem;
    width: 119rem;

   
}
.footer-list{
    display: flex;
    gap: 3rem;
    padding: 4rem;
    justify-content: space-between; 
}
.sings{
    list-style: none;
    font-size: 2vh;
}
.sings ul{
    font-size: 3vh;
}
.footer-list2{
     list-style: none;
    font-size: 2vh;
}
.footer-list3{
     list-style: none;
    font-size: 2vh;
}
.footer-list3 ul{
      font-size: 3vh;
}
.footer-list4{
    list-style: none;
    font-size: 2vh;
}
.footer-list4 ul{
     font-size: 3vh;
}
.footer-list5{
      list-style: none;
    font-size: 2vh;
}
.footer-list5 ul{
      font-size: 3vh;
}
.footer-list6{
       list-style: none;
    font-size: 2vh;
}
.footer-list6 ul{
    font-size: 3vh;
}
.sub-section{
    display: flex;
    gap: 1.5rem;
}
.footer-section{
    display: flex;
    justify-content: space-between;
}
.sub-section2{
    display: flex;
    gap: 1.5rem;
}
.footer-img{
    height:5vh;
    width:7vh;
}
.footer-img2{
     height:7vh;
    width:12vh;
}
.last-section{
    display: flex;
    flex-direction: row;
}
.last{
    display: flex;
    justify-content: space-between;
}